<div style="margin-bottom:5px; margin-top:5px;">
    <div class="d-flex justify-content-start align-items-center">
        <span class="color" style="font-weight:bold; margin-right:30px">@Label</span>
        @if (tooltip)
        {
            <Tooltip Text=@TooltipText>
                <Icon Id="info" />
            </Tooltip>
        }
    </div>
    <div style="margin-bottom:-10px">
        @ChildContent
    </div>
    <hr class="color" style="height:4px" />
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public String? Label { get; set; }

    [Parameter]
    public string? TooltipText { get; set; }

    private bool tooltip => TooltipText == null ? false : true;
}
