@using Presentation.Middlewares.Authentication

@inject AuthStateProvider auth

<Card Level=2>
    <AuthorizeView>
        <Authorized>
            <div>@t["home.hello"] @context.User.Identity!.Name !</div>
            <Button @onclick=SignOut>@t["action.signout"]</Button>
        </Authorized>
        <NotAuthorized>
            <div>Not connected</div>
            <Link Button Route="signin">@t["action.signin"]</Link>
        </NotAuthorized>
    </AuthorizeView>
</Card>

@code {
    private async Task SignOut() => await auth.SignOut();
}