@using Presentation.Middlewares.Authentication

@inject AuthStateProvider auth

<Card Title="User" Level=2>
    <AuthorizeView>
        <Authorized>
            <div>@t["home.hello"] @context.User.Identity!.Name !</div>
            <Button @onclick=SignOut>@t["auth.sign-out"]</Button>
        </Authorized>
        <NotAuthorized>
            <Link Button Route="signin">@t["auth.sign-in"]</Link>
        </NotAuthorized>
    </AuthorizeView>
</Card>

@code {
    private async Task SignOut() => await auth.SignOut();
}