<Card Level=2>
    <AuthorizeView>
        <Authorized>
            <div>@t["user.greeting"] @context.User.Identity!.Name !</div>
            <Button @onclick=SignOut>@t["action.signout"]</Button>
        </Authorized>
        <NotAuthorized>
            <div>Not connected</div>
            <Link Button Route="auth/signin">@t["action.signin"]</Link>
        </NotAuthorized>
    </AuthorizeView>
</Card>

@code {
    private async Task SignOut() => await authState.SignOut();
}