@using Ui.Pages.User.Components

@page "/users/create"
@attribute [Authorize("user.create")]

<h1>@t["user.feature.create"]</h1>

<Container FlexColumn FlexAlign="center" FlexJustify="center">
     <UserCreateForm />
</Container>