@using K.Blazor.Components.Contents.Model

@page "/chinese"

<h1>Chinese</h1>

<Container FlexAlign="center" FlexJustify="center">

    <Container FlexColumn>
        <Card Title="Personal Pronoun">
            <WordTranslationList Datas=PersonalPronouns />
            Add "Menn" for plural (we, you, they)
        </Card>

        <Card Title="Interrogatives">
            <DataList Datas=Interrogatives />
        </Card>

        <Card Title="Negation">
            bù
        </Card>
    </Container>
    
    <Card Title="Verbs">
        <CardTitle>
            <Button @onclick="_ => showVerbs = !showVerbs">@(showVerbs ? "Hide" : "Show")</Button>
        </CardTitle>
        <CardBody>
            <WordTranslationList 
                Datas=Verbs
                ShowTranslation=showVerbs />
        </CardBody>
    </Card>
    
    <Card Title="Temporality">
        <Container FlexColumn>
            <Card Level=2><WordTranslationList Datas=Days /></Card>
            <Card Level=2><WordTranslationList Datas=Daytime /></Card>
        </Container>
    </Card>
</Container>

@code {
    private bool showVerbs = true;

    private List<WordTranslation> Days = new()
    {
        new() { English = "day before yesterday", Pinyin = "qiántiān", FrenchPhonetics = "tchienne-tienne"},
        new() { English = "yesterday", Pinyin = "zuótiān", FrenchPhonetics = "dzouo-tienne"},
        new() { English = "today", Pinyin = "jīntiān", FrenchPhonetics = "djinne-tienne"},
        new() { English = "tommorow", Pinyin = "míngtiān", FrenchPhonetics = "ming-tienne"},
        new() { English = "day after tommorow", Pinyin = "hòutiān", FrenchPhonetics = "ho-tienne"}
    };

    private List<WordTranslation> Daytime = new()
    {
        new() { English = "morning", Pinyin = "zăoshang", FrenchPhonetics = "dzao-chang"},
        new() { English = "afternoon", Pinyin = "xiàwŭ", FrenchPhonetics = "sia-wou"},
        new() { English = "evening", Pinyin = "wănshang", FrenchPhonetics = "wanne-chang"},
        new() { English = "night", Pinyin = "yèwǎn", FrenchPhonetics = "yé-wanne"},
    };

    private List<WordTranslation> PersonalPronouns = new()
    {
        new() { English = "I", Pinyin = "wŏ", FrenchPhonetics = "wo"},
        new() { English = "You", Pinyin = "nĭ", FrenchPhonetics = "ni"},
        new() { English = "He/She", Pinyin = "tā", FrenchPhonetics = "tra"}
    };

    private Dictionary<string, string> Interrogatives = new()
    {
        {"Which", "na"},
        {"What", "cheunn-me"},
        {"Who", "cheill"},
        {"Where", "nar"},
        {"How", "dzeunn-me"}
    };

    private List<WordTranslation> Adjectives = new()
    {
        new() { English = "Good (Bon)", Pinyin = "hăo", FrenchPhonetics = "Rao"},
        new() { English = "Beautiful", Pinyin = "méi", FrenchPhonetics = "méi"},
        new() { English = "Beautiful", Pinyin = "piàoliàng", FrenchPhonetics = "piao-liang"},
        new() { English = "Beautiful", Pinyin = "piàoliàng", FrenchPhonetics = "piao-liang"},
    };

    private List<WordTranslation> Verbs = new()
    {
        new() { English = "Be", Pinyin = "shì", FrenchPhonetics = "cheu"},
        new() { English = "Have", Pinyin = "yŏu", FrenchPhonetics = "yow"},
        new() { English = "Go", Pinyin = "qù", FrenchPhonetics = "tshu"},
        new() { English = "Put", Pinyin = "fàng", FrenchPhonetics = "fang"},
        new() { English = "Feel (se sentir)", Pinyin = "gǎnjué", FrenchPhonetics = "gann-tjué"},
        new() { English = "See (Each other)", Pinyin = "jiàn", FrenchPhonetics = "tjienn"},
        new() { English = "Want (general)", Pinyin = "xiăng", FrenchPhonetics = "chiang"},
        new() { English = "Want (avoir envie de)", Pinyin = "yào", FrenchPhonetics = "iao"},
        new() { English = "Eat", Pinyin = "chī", FrenchPhonetics = "tcheu"},
        new() { English = "Drink", Pinyin = "hē", FrenchPhonetics = "Re"},
        new() { English = "Sleep", Pinyin = "shuì", FrenchPhonetics = "chuéi"},
        new() { English = "Go To Sleep", Pinyin = "shuìjiào", FrenchPhonetics = "chuéi-tjiao"},
        new() { English = "Love", Pinyin = "ài", FrenchPhonetics = "aille"},
        new() { English = "Like", Pinyin = "xĭhuan", FrenchPhonetics = "si-Rouann"},
        new() { English = "Read", Pinyin = "yuè", FrenchPhonetics = "uè"},
        new() { English = "Open", Pinyin = "kāimén", FrenchPhonetics = "kaimeun"},
        new() { English = "Kiss", Pinyin = "qīn/wĕn", FrenchPhonetics = "tsinn/wenn"},
    };
}