@using Presentation.Pages.Chinese.Components

@page "/chinese"

<h1>Chinese</h1>

<Container FlexColumn FlexAlign="center">

    <Container >
        <Container FlexColumn>
            <Card Title="Pronouns">
                + "men" for plural (we, you, they)
                <WordTranslationList Datas=Pronouns />
            </Card>
            <Card Title="Interrogatives"><WordTranslationList Datas=Interrogatives /></Card>
        </Container>
        
        <Container FlexColumn>
            <Card Title="Negation">Bù (Méi with Yŏu)</Card>
            <Card Title="Adverbs"><WordTranslationList Datas=Adverbs /></Card>
        </Container>
        
        <Card Title="Adjectives"><WordTranslationList Datas=Adjectives /></Card>
    </Container>

    <Verbs />
    <Nouns />

    <Time />
</Container>

@code {
    private List<WordTranslation> Adverbs = new()
    {
        new() { English = "Actually", Pinyin = "qíshí" },
        new() { English = "Also/Too", Pinyin = "yĕ" },
        new() { English = "A Little/ A Drop", Pinyin = "yīdiăn" },
        new() { English = "Because", Pinyin = "" },
        new() { English = "Before", Pinyin = "Yĭqián" },
        new() { English = "But", Pinyin = "dànshì" },
        new() { English = "Especially | Particularly", Pinyin = "tèbié" },
        new() { English = "Exactly", Pinyin = "jiùshì" },
        new() { English = "Generally", Pinyin = "yībān" },
        new() { English = "Much", Pinyin = "duō" },
        new() { English = "Often", Pinyin = "chángcháng" },
        new() { English = "Really", Pinyin = "zhēn" },
        new() { English = "Same", Pinyin = "yíyàng" },
        new() { English = "Sometimes | From time to time", Pinyin = "yŏushí" },
        new() { English = "Too much", Pinyin = "duō hĕn" },
        new() { English = "Very", Pinyin = "hĕn" },
        new() { English = "With", Pinyin = "gēn | hé" },
    };

    private List<WordTranslation> Pronouns = new()
    {
        new() { English = "I", Pinyin = "wŏ" },
        new() { English = "You", Pinyin = "nĭ" },
        new() { English = "He/She", Pinyin = "tā" },
        new() { English = "Everyone", Pinyin = "Měigèrén" },
        new() { English = "Others", Pinyin = "biéren" },
    };

    private List<WordTranslation> Interrogatives = new()
    {
        new() { English = "Which", Pinyin = "nă" },
        new() { English = "What", Pinyin = "shénme" },
        new() { English = "When", Pinyin = "shénme shíhòu" },
        new() { English = "Who", Pinyin = "shéi" },
        new() { English = "Where", Pinyin = "năli" },
        new() { English = "Why", Pinyin = "wèi shénme | zĕnme" },
        new() { English = "How", Pinyin = "zĕnme | zĕnmeyàng" }
    };

    private List<WordTranslation> Adjectives = new()
    {
        new() { English = "Beautiful", Pinyin = "méi" },
        new() { English = "Busy", Pinyin = "máng" },
        new() { English = "Cold", Pinyin = "lěng" },
        new() { English = "Easy", Pinyin = "jiăn dān" },
        new() { English = "Fast", Pinyin = "kuài" },
        new() { English = "Funny", Pinyin = "dòu" },
        new() { English = "Good", Pinyin = "hăo" },
        new() { English = "Happy", Pinyin = "gāoxìng | kāixīn" },
        new() { English = "Hard (Difficile)", Pinyin = "nán" },
        new() { English = "Lazy", Pinyin = "lăn" },
        new() { English = "Perfect", Pinyin = "wánměi" },
        new() { English = "Possible", Pinyin = "kěnéng" },
        new() { English = "Small", Pinyin = "xiăo" },
        new() { English = "Slow", Pinyin = "màn" },
        new() { English = "Tall (big ?)", Pinyin = "dà | gāo dà" },
        new() { English = "Tired", Pinyin = "lèi" },
        new() { English = "Warm", Pinyin = "rè" },
        new() { English = "Like to laugh*", Pinyin = "xiào diǎn dī" },
    };
}