@page "/chinese"

<h1>Chinese</h1>

<Container FlexColumn FlexAlign="center">

    <Container >
        <Card Title="Pronouns">
            + "men" for plural (we, you, they)
            <WordTranslationList Datas=Pronouns />
        </Card>
        <Card Title="Interrogatives"><WordTranslationList Datas=Interrogatives /></Card>
        
        <Card Title="Negation">Bù (Méi with Yŏu)</Card>
    </Container>

    <Adjectives />
    <Adverbs />
    <Verbs />
    <Nouns />
    <Time />
</Container>

@code {
    private List<WordTranslation> Pronouns = new()
    {
        new() { English = "I", Pinyin = "wŏ" },
        new() { English = "You", Pinyin = "nĭ" },
        new() { English = "He/She", Pinyin = "tā" },
        new() { English = "We (+ talked to ren)", Pinyin = "zánmen" },
        new() { English = "Nobody", Pinyin = "měiyourén" },
        new() { English = "Oneself", Pinyin = "zìjǐ" },
        new() { English = "Everyone", Pinyin = "rénrén | měirén | měigèrén | dàjiā" },
        new() { English = "Someone", Pinyin = "yŏurén" },
        new() { English = "Others", Pinyin = "biéren" },
    };

    private List<WordTranslation> Interrogatives = new()
    {
        new() { English = "Should", Pinyin = "yīnggāi" },
        new() { English = "Which", Pinyin = "nă" },
        new() { English = "What", Pinyin = "shénme" },
        new() { English = "When", Pinyin = "shénme shíhòu" },
        new() { English = "Who", Pinyin = "shéi" },
        new() { English = "Where", Pinyin = "năli" },
        new() { English = "Why", Pinyin = "wèi shénme | zĕnme" },
        new() { English = "How", Pinyin = "zĕnme | zĕnmeyàng | zěnyàng | Rúhé" },
        new() { English = "How much/many", Pinyin = "yĭ (-10) | duō shăo" },
        new() { English = "How long (time)", Pinyin = "duō jiǔ" }
    };

    private List<WordTranslation> Determinant = new()
    {
        new() { English = "There is", Pinyin = "zhè+shì" },
        new() { English = "This", Pinyin = "zhè+<Specif>+Noun" },
        new() { English = "That", Pinyin = "nà" },
        new() { English = "Some", Pinyin = "yixie" },
        new() { English = "These", Pinyin = "nàxie" },
        new() { English = "Those", Pinyin = "nàxie" },
        new() { English = "Here", Pinyin = "zheli" },
        new() { English = "There", Pinyin = "nali" },
        new() { English = "Several", Pinyin = "hǎo jĭ" },
    };

    private List<WordTranslation> Politness = new()
    {
        new() { English = "Hello", Pinyin = "nǐhǎo" },
        new() { English = "GoodBye", Pinyin = "zàijiàn" },
        new() { English = "May I Ask", Pinyin = "qĭngwèn" },
        new() { English = "Please", Pinyin = "qĭng" },
        new() { English = "Thanks", Pinyin = "xièxie" },
        new() { English = "You're welcome", Pinyin = "Búkèqi" },
        new() { English = "Sorry", Pinyin = "duìbuqǐ" },
    };
}