@page "/chinese"

<h1>Chinese</h1>

<Container FlexColumn FlexAlign="center">

    <Container >
        <Container FlexColumn>
            <Card Title="Pronouns">
                + "men" for plural (we, you, they)
                <WordTranslationList Datas=Pronouns />
            </Card>
            <Card Title="Interrogatives"><WordTranslationList Datas=Interrogatives /></Card>
        </Container>
        
        <Container FlexColumn>
            <Card Title="Negation">Bù (Méi with Yŏu)</Card>
        </Container>
        
        <Card Title="Adjectives"><WordTranslationList Datas=Adjectives /></Card>
    </Container>

    <Adverbs />
    <Verbs />
    <Nouns />
    <Time />
</Container>

@code {
    private List<WordTranslation> Pronouns = new()
    {
        new() { English = "I", Pinyin = "wŏ" },
        new() { English = "You", Pinyin = "nĭ" },
        new() { English = "He/She", Pinyin = "tā" },
        new() { English = "Everyone", Pinyin = "rénrén | měirén | měigèrén | dàjiā" },
        new() { English = "Someone", Pinyin = "yŏurén" },
        new() { English = "Others", Pinyin = "biéren" },
    };

    private List<WordTranslation> Interrogatives = new()
    {
        new() { English = "Which", Pinyin = "nă" },
        new() { English = "What", Pinyin = "shénme" },
        new() { English = "When", Pinyin = "shénme shíhòu" },
        new() { English = "Who", Pinyin = "shéi" },
        new() { English = "Where", Pinyin = "năli" },
        new() { English = "Why", Pinyin = "wèi shénme | zĕnme" },
        new() { English = "How", Pinyin = "zĕnme | zĕnmeyàng" }
    };

    private List<WordTranslation> Adjectives = new()
    {
        new() { English = "Beautiful", Pinyin = "méi" },
        new() { English = "Busy", Pinyin = "máng" },
        new() { English = "Cold", Pinyin = "lěng" },
        new() { English = "Cheap", Pinyin = "piányi" },
        new() { English = "Crazy", Pinyin = "fēng" },
        new() { English = "Easy", Pinyin = "jiăn dān" },
        new() { English = "Expensive", Pinyin = "guì" },
        new() { English = "Fat", Pinyin = "pàng" },
        new() { English = "Fast", Pinyin = "kuài" },
        new() { English = "Funny", Pinyin = "dòu" },
        new() { English = "Good", Pinyin = "hăo" },
        new() { English = "Happy", Pinyin = "gāoxìng | kāixīn" },
        new() { English = "Hard (Difficile)", Pinyin = "nán" },
        new() { English = "Heavy", Pinyin = "zhòng" },
        new() { English = "Important (people)", Pinyin = "zhòngyào" },
        new() { English = "Intelligent", Pinyin = "cōngming" },
        new() { English = "Lazy", Pinyin = "lăn" },
        new() { English = "Light", Pinyin = "?" },
        new() { English = "Perfect", Pinyin = "wánměi" },
        new() { English = "Possible", Pinyin = "kěnéng" },
        new() { English = "Small", Pinyin = "xiăo" },
        new() { English = "Slow", Pinyin = "màn" },
        new() { English = "Tall (big ?)", Pinyin = "dà | gāo dà" },
        new() { English = "Tasty", Pinyin = "hǎochī" },
        new() { English = "Tired", Pinyin = "lèi" },
        new() { English = "Warm", Pinyin = "rè" },
        new() { English = "Like to laugh*", Pinyin = "xiào diǎn dī" },
    };
}