@page "/chinese"

<h1>Chinese</h1>

<Container FlexColumn FlexAlign="center">

    <Container > 
        <Card Title="Concept" Level=2><WordTranslationList Datas=Concept /></Card>
        <Card Title="Pronouns">+ "men" for plural (we, you, they)</Card>
        <Card Title="Negation">Bù (Méi with Yŏu)</Card>
    </Container>

    <TranslationCard Title="Time">
        <Card Title="Days & Months" Level=2>
            <div>Days. (xīng qī | zhōu) + @("(<number>, Except Sunday -> rì/tiān)")</div>
            <div>Ex. xīng qī yī, xīng qī èr, xīng qī rì</div>
            <div>Months. @("<number>") + yuè</div>
            <div>Ex. yī yuè, èr yuè</div>
        </Card>
    </TranslationCard>
</Container>

 @code {
    private List<WordTranslation> Concept = new()
    {
        new() { English = "Action | Movement", Pinyin = "dòngzuò" },
        new() { English = "Change", Pinyin = "biànhuà" },
        new() { English = "Difference", Pinyin = "qūbié" },
        new() { English = "Fact", Pinyin = "shì shí" },
        new() { English = "Gift | Present", Pinyin = "lǐwù" },
        new() { English = "Hobby", Pinyin = "àihào" },
        new() { English = "Hole", Pinyin = "kŏng | kŏngxì" },
        new() { English = "Kind", Pinyin = "zhŏng | yàng" },
        new() { English = "Life", Pinyin = "shēngmìng" },
        new() { English = "Number", Pinyin = "hào" },
        new() { English = "Pile", Pinyin = "duī" },
        new() { English = "Situation | status", Pinyin = "zhuàngtài" },
        new() { English = "Stuff | Things", Pinyin = "dōngxi" },
        new() { English = "Style", Pinyin = "yàngshì" },
        new() { English = "Thing", Pinyin = "shìqing" },
        new() { English = "Usage", Pinyin = "yòngfǎ" },
        new() { English = "Way (Manner)", Pinyin = "fāngshì" },
    };
}