@using Presentation.Pages.Chinese.Components

@page "/chinese"

<h1>Chinese</h1>

<Container FlexAlign="center" FlexJustify="center">

    <Container FlexColumn>
        <Card Title="Personal Pronoun">
            <WordTranslationList Datas=PersonalPronouns />
            Add "Menn" for plural (we, you, they)
        </Card>

        <Card Title="Interrogatives"><WordTranslationList Datas=Interrogatives /></Card>
        <Card Title="Negation">Bù</Card>
    </Container>

    <Verbs />

    <Container FlexColumn>
        <Card Title="Adjectives"><WordTranslationList Datas=Adjectives /></Card>
        <Card Title="Adverbs"><WordTranslationList Datas=Adverbs /></Card>
    </Container>

    <Time />
</Container>

@code {
    private List<WordTranslation> Adverbs = new()
    {
        new() { English = "Also/Too", Pinyin = "yĕ", FrenchPhonetics = ""},
        new() { English = "A Little/ A Drop", Pinyin = "diăn", FrenchPhonetics = "Dienn"},
        new() { English = "Very", Pinyin = "hĕn", FrenchPhonetics = "Ren"},
        new() { English = "Much", Pinyin = "duō", FrenchPhonetics = "Douo"},
        new() { English = "Too much", Pinyin = "duō hĕn", FrenchPhonetics = "Douo-Ren"},
    };

    private List<WordTranslation> PersonalPronouns = new()
    {
        new() { English = "I", Pinyin = "wŏ", FrenchPhonetics = "wo"},
        new() { English = "You", Pinyin = "nĭ", FrenchPhonetics = "ni"},
        new() { English = "He/She", Pinyin = "tā", FrenchPhonetics = "tra"}
    };

    private List<WordTranslation> Interrogatives = new()
    {
        new() { English = "Which", Pinyin = "nă", FrenchPhonetics = "naha" },
        new() { English = "What", Pinyin = "shénme", FrenchPhonetics = "cheunn-me" },
        new() { English = "Who", Pinyin = "shéi", FrenchPhonetics = "cheill" },
        new() { English = "Where", Pinyin = "năli", FrenchPhonetics = "nali" },
        new() { English = "How", Pinyin = "zĕnme", FrenchPhonetics = "dzeunn-me" }
    };

    private List<WordTranslation> Adjectives = new()
    {
        new() { English = "Beautiful", Pinyin = "méi", FrenchPhonetics = "méi" },
        new() { English = "Busy", Pinyin = "máng", FrenchPhonetics = "" },
        new() { English = "Good (Bon/Bien)", Pinyin = "hăo", FrenchPhonetics = "Rao" },
        new() { English = "Happy", Pinyin = "gāoxìng", FrenchPhonetics = "gao-ching" },
        new() { English = "Perfect", Pinyin = "wán měi", FrenchPhonetics = "same" },
        new() { English = "Small", Pinyin = "xiăo", FrenchPhonetics = "shiao" },
        new() { English = "Tall (big ?)", Pinyin = "dà/gāodà", FrenchPhonetics = "da" },
    };
}