@page "/chinese"

<h1>Chinese</h1>

<Container FlexColumn FlexAlign="center">

    <Container >
        <Card Title="Pronouns">
            + "men" for plural (we, you, they)
            <WordTranslationList Datas=Pronouns />
        </Card>
        <Card Title="Interrogatives"><WordTranslationList Datas=Interrogatives /></Card>
        
        <Card Title="Negation">Bù (Méi with Yŏu)</Card>
    </Container>

    <Adjectives />
    <Adverbs />
    <Verbs />
    <Nouns />
    <Time />
</Container>

@code {
    private List<WordTranslation> Pronouns = new()
    {
        new() { English = "I", Pinyin = "wŏ" },
        new() { English = "You", Pinyin = "nĭ" },
        new() { English = "He/She", Pinyin = "tā" },
        new() { English = "Nobody", Pinyin = "měiyourén" },
        new() { English = "Everyone", Pinyin = "rénrén | měirén | měigèrén | dàjiā" },
        new() { English = "Someone", Pinyin = "yŏurén" },
        new() { English = "Others", Pinyin = "biéren" },
    };

    private List<WordTranslation> Interrogatives = new()
    {
        new() { English = "Which", Pinyin = "nă" },
        new() { English = "What", Pinyin = "shénme" },
        new() { English = "When", Pinyin = "shénme shíhòu" },
        new() { English = "Who", Pinyin = "shéi" },
        new() { English = "Where", Pinyin = "năli" },
        new() { English = "Why", Pinyin = "wèi shénme | zĕnme" },
        new() { English = "How", Pinyin = "zĕnme | zĕnmeyàng" },
        new() { English = "How Much/Many", Pinyin = "yĭ (-10) | duō shăo" }
    };
}