@using K.Blazor.Components.Router
@using K.Blazor.Configuration
@using Presentation.Layout

@inject KConfService kConf

<ErrorHandler>
    <Toaster />

    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                @*<FocusOnNavigate RouteData="@routeData" Selector="h1" /> Todo*@
                <AuthorizeRouteView RouteData=routeData DefaultLayout=@typeof(MainLayout)>
                    <NotAuthorized>
                        @if (!context.User.Identity!.IsAuthenticated)
                        {
                            <RedirectTo Route="signin" AddReturnUrl />
                        }
                        else {
                            <RedirectTo Route="unauthorized" />
                        }
                    </NotAuthorized>
                    <Authorizing>
                        <SplashScreen />
                    </Authorizing>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <PageTitle>Not Found</PageTitle>
                <LayoutView Layout=@typeof(MainLayout)>
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</ErrorHandler>

@code {
    // Configure K.Blazor
    protected override void OnInitialized()
        => kConf.SetSelectFieldOptions(new()
            {
                DefaultOptionName = x => t[x.DisplayName()].Contains("##") ? x?.ToString() : t[x.DisplayName()],
                RequiredMessage = () => t["k-blazor-msg.required"],
                NoResultMessage = () => t["k-blazor-msg.no-result"]
            });
}