@using K.Blazor.Components.Containers

<Card Loading="Words == null">
    <Container FlexAlign="start" FlexJustify="space-between">
        <CascadingValue Value=show>   
            <DataList>
                @foreach (WordAppDto word in Words!)
                {           
                    <WordDisplay Word=word />
                }
            </DataList>
        </CascadingValue>

        <Button @onclick="_ => show = !show">@(t[show ? "action.hide" : "action.show"])</Button>
    </Container>
</Card>

@code {
    [Parameter]
    public IEnumerable<WordAppDto>? Words { get; set; }

    private bool show = true;
}