<li>
    <Tooltip Text=@(Word.Pinyin)><b>@Word.Word.</b></Tooltip>
    <span hidden="@(!Show)">@($" {Word.Pinyin}")</span>
</li>


@code {
    [CascadingParameter]
    public bool Show { get; set; } = true;
    
    [Parameter]
    public WordAppDto Word { get; set; } = new();
}