@using Infrastructure.HttpClients.Shop;

@inject IAuthService authService

<Button @onclick=SignIn>@t["auth.sign-in"]</Button>
<Card>User = @user?.Email</Card>

@code {
    private AuthenticateResponse? user;

    private async Task SignIn(MouseEventArgs args)
        => user = await authService.SignInAsync();
}