@page "/auth/reset-password"

<Container FlexGrow FlexColumn FlexAlign="center" FlexJustify="center">
    <Card Title=@t["auth.reset-password.action"]>
        @if (tokenValid == true)
        {
            <Form Model=form OnValidSubmit=OnSubmit>
                <TextField @bind-Value=form.Password Label=@t["user.password"] />
                <TextField @bind-Value=form.PasswordConfirm Label=@t["action.confirm"] DisablePaste />

                <Button>@t["action.submit"]</Button>
            </Form>
        }
        else if (tokenValid == null) { <div>Token validating</div> }
        else { <div>Token invalid</div> }
    </Card>
</Container>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Token { get; set; }

    private bool? tokenValid;
    private ResetPasswordFormDto form = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await auth.ValidateResetTokenAsync(Token);
            tokenValid = true;
        }
        catch (Exception) { tokenValid = false; }
    }

    private async Task OnSubmit()
    {
        try
        {
            form.Token = Token;
            await auth.ResetPasswordAsync(form);
            Nav.NavigateTo("auth/signin");
            toaster.AddSuccess(t["auth.reset-password.success"]);
        }
        catch (ProblemDetailsException) { }
    }
}