@page "/auth/signin"

<Container FlexGrow FlexColumn FlexAlign="center" FlexJustify="center">

     <Card Title=@t["action.signin"]>
         <Form Model=form OnValidSubmit=SignInAsync>
             <TextField @bind-Value=form.Username
                        Label=@t["user.username"]
                        Placeholder="patate@mail.com" />

             <TextField @bind-Value=form.Password
                        Label=@t["user.password"] />

             <Button>@t["action.submit"]</Button>
         </Form>
     </Card>

     <Link Route="auth/forgot-password">@t["action.forgot-password"]</Link>

 </Container>

 @code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    private SignInFormDto form = new();

    private async Task SignInAsync()
    {
        try
        {
            await authState.SignInAsync(form.Username, form.Password);
            Nav.NavigateTo(ReturnUrl ?? "demo");
        }
        catch (ProblemDetailsException) { }
    }
}