@page "/auth/signin"

<Container FlexGrow FlexColumn FlexAlign="center" FlexJustify="center">
     <Card Title=@t["action.signin"]>
         <Form Model=form OnValidSubmit=OnSubmit>
             <TextField @bind-Value=form.Email
                        Label=@t["user.username"]
                        Placeholder="patate@mail.com" />

             <TextField @bind-Value=form.Password
                        Label=@t["user.password"] />

             <Button>@t["action.submit"]</Button>

             <Container FlexJustify="center">
                 <Link Route="auth/forgot-password">@t["action.forgot-password"]</Link>
             </Container>
         </Form>
     </Card>

     <Link Button Route="auth/signup" Color=Color.Light>@t["action.signup"]</Link>
 </Container>

 @code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    private SignInFormDto form = new();

    private async Task OnSubmit()
    {
        try
        {
            await authState.SignInAsync(form);
            Nav.NavigateTo(ReturnUrl ?? "demo");
        }
        catch (ProblemDetailsException) { }
    }
}