<!-- Note. 'splashscreen' css class is defined in global css file 'splashscreen.css'.
    This is because splashscreen might be used in 'index.html' before Blazor app render,
    hence making component encapsulated css not accessible -->
<div class="splashscreen">
    <svg class="logo">
        <use xlink:href="../_content/K.Blazor/svg/logo.svg#blazor"></use>
    </svg>
</div>