<Card Title="Buttons" Level=2>
    <Container>
        <Container FlexColumn>
            <Button @onclick=OnClickLog>Primary</Button>
            <Button Color=Color.Accent>Accent</Button>
            <Button Color=Color.Light>Light</Button>
            <Button Icon="minus" />
        </Container>
        <Container FlexColumn>
            <Button Icon="plus">Icon</Button>
            <Button Badge BadgeValue=5>Badge</Button>
        </Container>        
    </Container>    
</Card>

@code {
    private void OnClickLog() => Log.Information("@onclick supported :)");
}