.toast-container {
    position: fixed;
    bottom: var(--k-gap-normal);
    right: calc(17px + var(--k-gap-normal)); /*scrollbar + normal gap*/
    z-index: 2000; /*Above navbar*/
}

.toast {
    display: grid;
    grid-template-columns: 4fr auto;
    align-items: top;
    gap: var(--k-gap-normal);
    padding: var(--k-gap-normal);
    z-index: 2000; /*Above navbar*/
    width: 300px;
    border-radius: 0.75rem !important;
    color: var(--k-color-light);
    background-color: var(--background-color);
}

    .toast p {
        margin: 0;
        word-break: break-all;
    }

.dark {
    color: var(--k-color-dark) !important;
    border: 1px solid var(--k-color-dark);
}
