@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('bootstrap/bootstrap.min.css');
@import url('error-handling.css');
@import url('splashscreen.css');
@import url('theme.css');

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--k-color-background);
    color: var(--k-color-primary);
    font-weight: 400;
    line-height: 1.6;
}

/* User selected text */
::selection {
    color: #fff;
    background: var(--k-color-focused);
    text-shadow: none;
}

::-moz-selection {
    color: #fff;
    background: var(--k-color-focused);
    text-shadow: none;
}