@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('bootstrap/bootstrap.min.css');

:root {
    /* Theme */
    --k-color-primary: #3f51b5;
    --k-color-primary-light: #e5f1fe;
    --k-color-accent: #ff4081;
    --k-color-grey: grey;
    --k-color-grey-light: #0000001f;
    --k-color-light: #ffffff;
    --k-color-dark: #000000;
    /* Alert */
    --k-color-info: #31708f;
    --k-color-success: #3c763d;
    --k-color-warning: #8a6d3b;
    --k-color-danger: #f44336;
    /* Functional */
    --k-color-background: #fafafa;
    --k-color-focused: #000739;
    --k-color-shadow: rgba(0, 7, 57, 0.15);
    --k-color-disabled: #0000001f;
    /* Gap */
    --k-gap-smallest: 0.25em;
    --k-gap-smaller: 0.5em;
    --k-gap-small: 0.75em;
    --k-gap-normal: 1em;
    --k-gap-large: 1.25em;
    --k-gap-larger: 1.5em;
    --k-gap-largest: 1.75em;
}
