@inject IScrollInfoService navState

<div class="actions" style=@mobBottom(navState.MobileNavHide ? "0px" : "56px")>
    <Container FlexColumn>
        @ChildContent
    </Container>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string mobBottom(string bottom) => $"--mob-action-bottom:calc({bottom} + var(--k-gap-normal));";
    
    protected override void OnInitialized() => navState.OnScroll += OnScroll!;

    private void OnScroll(object sender, Tuple<int, int> scrollY)
        => StateHasChanged();
}