.actions {
    position: fixed;
    bottom: var(--k-gap-normal);
    right: calc(17px + var(--k-gap-normal)); /*scrollbar + normal gap*/
}

/* Mobile */
@media (max-width: 576px) {
    .actions {
        bottom: var(--mob-action-bottom);
        transition: bottom 0.5s ease;
        right: calc(2px + var(--k-gap-normal)); /*scrollbar + normal gap*/
    }
}
