@inject IScrollInfoService scrollInfoService

<div class="actions" style=@mobBottom(nav ? "56px" : "0px")>
    <Container FlexColumn>
        @ChildContent
    </Container>
</div>


@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string mobBottom(string bottom) => $"--mob-action-bottom:calc({bottom} + var(--k-gap-normal));";
    private bool nav = true;

    protected override void OnInitialized() => scrollInfoService.OnScroll += OnScroll!;

    private void OnScroll(object sender, Tuple<int, int> scrollY)
    {
        nav = scrollY.Item1 >= scrollY.Item2 ? true : false;
        StateHasChanged();
    }
}