@inherits LayoutComponentBase

@inject INavMenuService navState

<section class="page @(animated ? "animation" : null)"
         style=@mobPageHeight(navState.Display ? "100dvh" : "100dvh - 56px")>

    <NavMenu @ref="navMenu" MobileHide=navState.Display MobileScrollHide="() => scrollElt">
        <NavItem Label="Demo" Icon="beaker" Match=NavLinkMatch.All />
        <NavItem Label="Chinese" Icon="star" />

        <AuthorizeView>
            <NavItem Label=@t["feature.users"] Route="users/search" Icon="people" Secondary />
        </AuthorizeView>
    </NavMenu>
         
    <main class="content" @ref=scrollElt>
        <ErrorBoundary @ref="errorBoundary">@Body</ErrorBoundary>
    </main>

</section>

@code {
    private ErrorBoundary? errorBoundary;
    private NavMenu? navMenu;
    private string mobPageHeight(string height) => $"--mob-page-height:calc({height});";
    private bool animated;
    private ElementReference scrollElt;

    protected override void OnInitialized() {
        navState.OnDisplayChange += StateHasChanged;
        navState.OnShow += OnShow;
        navState.OnHide += OnHide;
    }

    // Recover ErrorState on route change
    protected override void OnParametersSet() => errorBoundary?.Recover();

    private void OnShow()
    {
        animated = true;
        navMenu!.HideItems();
    }

    private void OnHide() => animated = false;
}