/* Page */
.page {
    display: grid;
    grid-template: 'navbar content' 100svh / 250px auto;
}

/* Page.Mobile */
@media (max-width: 576px) {
    .page {
        grid-template: 'content' 100%;
        height: calc(100svh - 56px);
        overflow-y: scroll;
    }
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .content > div {
        padding: var(--k-gap-small);
        flex: 1;
        display: flex;
        flex-direction: column;
    }

/* Content.Large */
@media (min-width: 576px) {
    .content {
        overflow-y: scroll;
    }

        .content > div {
            padding: var(--k-gap-large);
        }
}