/* Page */
.page {
    display: grid;
    grid-template: 'navbar content' 100svh / 250px auto;
}

/* Page.Mobile */
@media (max-width: 576px) {
    .page {
        grid-template: 'content' 100%;
        height: var(--mob-page-height);
        overflow-y: scroll;
    }

    .animation {
        transition: height 0.5s ease;
    }
}

/* Content */
.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding: var(--k-gap-small);
}

/* Content.Large */
@media (min-width: 576px) {
    .content {
        overflow-y: scroll;
        padding: var(--k-gap-large);
    }
}