@using Microsoft.JSInterop
@inherits LayoutComponentBase

@inject IJSRuntime JS
@inject IScrollInfoService navState

<section @ref=scrollElt
         class="page" 
         style=@pageHeight(navState.MobileNavHide ? "100dvh" : "100dvh - 56px")>
    <NavMenu MobileHide=navState.MobileNavHide />
    <main class="content">
        <div>
            <ErrorBoundary @ref="errorBoundary">@Body</ErrorBoundary>
        </div>
    </main>
</section>

@code {
    private ErrorBoundary? errorBoundary;
    private string pageHeight(string height) => $"--page-height:calc({height});";

    ElementReference scrollElt;

    protected override void OnInitialized() => navState.OnScroll += StateHasChanged;

    // Recover ErrorState on route change
    protected override void OnParametersSet() => errorBoundary?.Recover();    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Activate scroll detection (every 500 ms)
        if (firstRender)
            await JS.InvokeVoidAsync("onScroll", scrollElt, 500);
    }
}