<div class="nav-item @(!Secondary ? "main" : "")">
    <NavLink class="nav-link" href=@Route Match=Match>
        <Icon Id=@Icon />
        <span class="nav-link-label">@Label</span>
    </NavLink>
</div>

@code {
    [Parameter]
    public string? Route { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public bool Secondary { get; set; } = false;

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;

    protected override void OnInitialized()
    {
        if (Label != null && Route == null) Route = Label.ToLower();
    }
}