@using Microsoft.AspNetCore.Components.Authorization
@using Presentation.Pages.Auth.Components

<aside style=@mobTranslateY(MobileHide ? "100%" : "0")>
    <header>
        <Link>
            <svg class="logo">
                <use xlink:href="../_content/K.Blazor/svg/logo.svg#blazor" />
            </svg>
        </Link>

        <Button Icon=@(hideNavItems ? "menu" : "x") CssClass="hide-large" @onclick=toggleItems />
    </header>

    <nav class=@mobHideClass(hideNavItems) @onclick=hideItems>
        
        <div>
            <NavItem Label="Demo" Icon="home" Match=NavLinkMatch.All />
            <NavItem Label="Chinese" Icon="star" />

            <AuthorizeView>
                <NavItem Label=@t["feature.users"] Route="users/search" Icon="people" />
            </AuthorizeView>
        </div>

        <AuthMenu />
    </nav>
</aside>

@code {
    [Parameter]
    public bool MobileHide { get; set; } = false;

    // Only used in mobile view
    private bool hideNavItems = true;

    private string mobTranslateY(string? height) => $"--mob-translate-Y:{height};";
    private string? mobHideClass(bool hide) => hide ? "hide-mobile" : null;
    private void toggleItems() => hideNavItems = !hideNavItems;
    private void hideItems() => hideNavItems = true;
}