@using Microsoft.AspNetCore.Components.Authorization
@using Presentation.Pages.Auth.Components

<aside class=@(!mobHideItems ? "round-top" : null)
       style=@($"--mob-translate-Y:{(MobileHide ? "101%" : "0")};")>
    <header>
        <Link>
            <svg class="logo">
                <use xlink:href="../_content/K.Blazor/svg/logo.svg#blazor" />
            </svg>
        </Link>

        <Button Icon=@(mobHideItems ? "menu" : "x") CssClass="hide-large" @onclick=toggleItems />
    </header>

    <nav class=@(mobHideItems ? "hide-mob" : "round-top") @onclick=HideItems>
        
        <div>
            <NavItem Label="Demo" Icon="home" Match=NavLinkMatch.All />
            <NavItem Label="Chinese" Icon="star" />

            <AuthorizeView>
                <NavItem Label=@t["feature.users"] Route="users/search" Icon="people" />
            </AuthorizeView>
        </div>

        <AuthMenu />
    </nav>
</aside>

@code {
    [Parameter]
    public bool MobileHide { get; set; } = false;

    private bool mobHideItems = true;

    private void toggleItems() => mobHideItems = !mobHideItems;
    public void HideItems() => mobHideItems = true;
}