@using Microsoft.AspNetCore.Components.Authorization
@using Presentation.Pages.Auth.Components

<aside>
    <header>
        <Link>
            <svg class="logo">
                <use xlink:href="../_content/K.Blazor/svg/logo.svg#blazor" />
            </svg>
        </Link>

        <Button Icon=@(hideNav ? "menu" : "x") CssClass="nav-toggle" @onclick=ToggleNav />
    </header>

    <nav class=@(hideNav ? "hide" : null) @onclick=HideNav>
        
        <div>
            <NavItem Label="Demo" Icon="home" Match=NavLinkMatch.All />

            <AuthorizeView>
                <NavItem Label=@t["feature.users"] Route="users/search" Icon="people" />
            </AuthorizeView>
        </div>

        <AuthMenu />
    </nav>
</aside>

@code {
    // Only used in mobile view
    private bool hideNav = true;

    private void ToggleNav() => hideNav = !hideNav;
    private void HideNav() => hideNav = true;
}