aside {
    display: grid;
    grid-template:
        'icon' 15svh
        'navigation' 85svh / 100%;
    background-color: var(--k-color-primary);
    color: var(--k-color-light);
}

    aside header {
        grid-area: icon;
        display: flex;
        justify-content: center;
    }

    aside nav {
        grid-area: navigation;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: var(--k-gap-normal);
        background-color: var(--k-color-primary);
        z-index: 1;
    }

.logo {
    inline-size: 30%;
    color: var(--k-color-light);
}

/* Mobile */
@media (max-width: 576px) {
    aside {
        grid-template:
            'navigation' auto
            'icon' 56px / 100%;
        z-index: 1000; /*Above content*/
        position: fixed;
        bottom: 0;
        width: 100%;
        transform: translate(0, var(--mob-translate-Y));
        transition: transform 0.5s ease;
    }

        aside header {
            justify-content: space-between;
            align-items: stretch;
        }

        aside header ::deep .nav-link-label {
            display: none;
        }

        aside nav {
            padding: var(--k-gap-small);
        }

        /* Mobile. Add gap between nav & auth */
        aside nav ::deep .nav-item:last-child {
            padding-bottom: var(--k-gap-small);
        }
        
        aside nav ::deep .main {
            display: none;
        }

    .round-top {
        border-radius: var(--k-gap-normal) var(--k-gap-normal) 0 0;
    }

    .logo {
        inline-size: 40px;
        margin-bottom: 8px;
        margin-left: var(--k-gap-normal);
    }

    .hide-mob {
        display: none;
    }
}

/* Desktop */
@media (min-width: 576px) {
    ::deep .hide-large {
        display: none;
    }

    aside header ::deep .nav-item {
        display: none;
    }
}
