@using System.Diagnostics.CodeAnalysis;

<div id="@Id" class="tab-pane @(IsActive ? "active":"")" role="tabpanel">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    private TabGroup? TabGroup { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Label { get; set; }

    public bool IsActive { get; set; }

    protected override void OnInitialized()
    {
        if (TabGroup == null)
            throw new Exception("Tab component should in an enclosed TabGroup");

        TabGroup.AddTab(this);

        TabGroup.Tabs.First().IsActive = true;

        base.OnInitialized();
    }
}
