@*Icon.
    Id. Choose the icon. (Available list. https://icon-sets.iconify.design/oi/beaker/)
    Color. (ColorEnum) Theme color
  Implementation is based on OpenIconic*@
<Card Title="Icons" Level=2>
    <Container FlexAlign="center">
        <Icon /> @*Id. Default to 'plus' | Color. Default to 'currentColor'*@
        <Icon Id="pencil" />
        <Icon Id="arrow-circle-bottom" Color=Color.Accent />
        <Icon Id="menu" Color=Color.Dark />
        <Button CssClass="black">
            <Icon Id="menu" Color=Color.Light />@*Even though 'currentColor' is black, Icon color is Light*@
        </Button>
    </Container>
</Card>