@using Ui.Core.Translations;

@inherits LayoutComponentBase

<section class="page">
    <NavMenu />
    <main class="content">
        <div>
            <ErrorBoundary>@Body</ErrorBoundary>
        </div>
        <Footer />
    </main>
</section>