@using K.Blazor.Components.Router
@using Presentation.Pages.Auth

@page "/"
@page "/home"

<RedirectTo />

<PageTitle>Home</PageTitle>

<h1>@t["home.welcome"]</h1>

<Container FlexJustify="center">
    <LoginForm />
</Container>