@using Ui.Shared.Containers.Form.Abstract;
@typeparam TValue
@inherits Field<TValue>


<div class="field-wrapper">

    <label>@Label</label>

    <div class="input-group">
        <InputNumber class="form-control"
                   placeholder=@Placeholder
                   @oninput=OnInput
                   @onblur=OnBlur
                   Value=Value
                   ValueChanged=ValueChanged
                   ValueExpression=ValueExpression />

        @if (Unit != null)
        {
            <div class="input-group-append">
                <span class="input-group-text">@Unit</span>
            </div>
        }

    </div>

    <ValidationMessage For=ValueExpression />

</div>


@code
{
    [Parameter]
    public string? Unit { get; set; }
}