.hide {
    display: none;
}

/* Search input */
input,
input:focus-visible,
input.invalid,
input:hover {
    width: 0;
    flex-grow: 1;
    border: none !important;
    box-shadow: none !important;
    outline: none;
    background-color: transparent;
    padding: 0;
}

/* Selected option */
.selected-option {
    gap: 0.5rem;
    width: 0;
    min-width: calc(100% - 1.5rem);
    display: grid;
    grid-template-columns: 1fr 20px;
    align-items: center;
}

.selected-option-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Options */
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.options {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-height: calc(100% * 4);
    background: var(--k-color-light);
    box-shadow: 0px 2px 4px 0px var(--k-color-shadow);
    overflow-y: auto;
}

    .options li {
        display: grid;
        grid-template-columns: auto 1fr;
        place-items: start;
        gap: var(--k-gap-small);
        border: 1px solid var(--k-color-grey-light);
        padding: var(--k-gap-small);
    }

        .options li:hover {
            background-color: var(--k-color-grey-light);
            cursor: pointer;
        }
