@using Ui.Shared.Router

@page "/"
@page "/home"

<PageTitle>Home</PageTitle>

<h1>@t["home.welcome"]</h1>

<Container>
    <Card>
        <CardBody>@t["home.hello"] !</CardBody>
        <CardActions>Actions</CardActions>
    </Card>
</Container>