@using Ui.Pages.Demo.Components

@page "/demo"
@inject HttpClient Http

<PageTitle>Demo</PageTitle>

<Container FlexColumn>
    <Container FlexJustify="space-between"
               FlexAlign="center">
        <h1>Demo</h1>
        <Button @onclick=ChangeLocale>Change Locale</Button>
    </Container>

    <Container>
        <Loaders />
        <Indicators />
        <Alert />
        <Tabs />
        <BlazorForm />
        <Interactions />
        <Table />
        <ErrorHandling />
        <TextDisplay />
    </Container>
</Container>

@code {
    private void ChangeLocale()
        => t.Locale = t.Locale == "fr" ? "en" : "fr";
}