@using Ui.Pages.Demo.Components
@using Ui.Pages.Demo.Components.Indicators

@page "/demo"
@inject HttpClient Http

<PageTitle>Demo</PageTitle>

<Container FlexColumn>
    <Container FlexJustify="space-between"
               FlexAlign="center">
        <h1>Demo</h1>
        <Button @onclick=ChangeLocale>Change Locale</Button>
    </Container>

    <Container>
        <Card Title="Indicators">
            <Container>
                <Loaders />
                <Container FlexColumn>
                    <Icons />
                    <Chips />
                    <Tooltips />
                </Container>
                <Toasts />
            </Container>
        </Card>
        <Tabs />
        <BlazorForm />
        <Interactions />
        <Table />
        <ErrorHandling />
        <TextDisplay />
    </Container>
</Container>

@code {
    private void ChangeLocale()
        => t.Locale = t.Locale == "fr" ? "en" : "fr";
}