@using Presentation.Pages.Demo.Components.Contents
@using Presentation.Pages.Demo.Components.ErrorHandling
@using Presentation.Pages.Demo.Components.Containers
@using Presentation.Pages.Demo.Components.Indicators
@using Presentation.Pages.Demo.Components.Interactions

@page "/demo"

<Container FlexColumn Mobile>

    <Container FlexJustify="space-between"
               FlexAlign="center">
        <h1>Demo</h1>
        <Button Icon="globe" @onclick=ChangeLocale>@t.Locale.ToUpper()</Button>
    </Container>

    <Container Mobile>
        <Card Title="Indicators">
            <Container FlexAlign="start" Mobile>
                <Container FlexColumn>
                    <Loaders />
                    <Chips />
                </Container>
                <Container FlexColumn>
                    <Icons />
                    <Toasts />
                    <Tooltips />
                </Container>
            </Container>
        </Card>

        <Card Title="Interactions">
            <Container FlexColumn Mobile>
                <Buttons />
                <Links />
            </Container>
        </Card>

        <ErrorHandling />

        <Card Title="Containers">
            <Container FlexAlign="start" Mobile>
                <Forms />
                
                <Container FlexColumn>
                    <Tabs />
                    <Table />
                </Container>

                <Cards />
            </Container>
        </Card>

        <Card Title="Contents">
            <Container>
                <DetailedData />
                <DataLists />
            </Container>
        </Card>
    </Container>

</Container>

@code {
    private void ChangeLocale()
        => t.Locale = t.Locale == "fr" ? "en" : "fr";
}