@using Presentation.Pages.Demo.Components.ErrorHandling
@using Presentation.Pages.Demo.Components.Containers
@using Presentation.Pages.Demo.Components.Indicators
@using Presentation.Pages.Demo.Components.Interactions

@page "/demo"

<Container FlexColumn>

    <Container FlexJustify="space-between"
               FlexAlign="center">
        <h1>Demo</h1>
        <Button @onclick=ChangeLocale>Change Locale</Button>
    </Container>

    <Container>
        <Card Title="Indicators">
            <Container FlexAlign="start">
                <Container FlexColumn>
                    <Loaders />
                    <Chips />
                </Container>
                <Container FlexColumn>
                    <Icons />
                    <Tooltips />
                    <Toasts />
                </Container>
            </Container>
        </Card>

        <Card Title="Interactions">
            <Container FlexColumn>
                <Buttons />
                <Links />
            </Container>
        </Card>

        <ErrorHandling />

        <Card Title="Containers">
            <Container FlexAlign="start">
                <Card Title="Form" Level=2>
                    <TabGroup>
                        <Tab Label="Input"><FormInput /></Tab>
                        <Tab Label="Display"><FormDisplay /></Tab>
                    </TabGroup>
                </Card>
                <Container FlexColumn>
                    <Tabs />
                    <Table />
                </Container>

                <Cards />
            </Container>
        </Card>
    </Container>

</Container>

@code {
    private void ChangeLocale()
        => t.Locale = t.Locale == "fr" ? "en" : "fr";
}