/**************** Single Select ******************/
::deep select {
    cursor: pointer;
}

    ::deep select option {
        color: var(--k-color-primary);
    }

    /* Selected option color 
    /*  Grey for "placeholder" / Primary if real selected value */
    ::deep select:optional {
        color: var(--selected-option-color);
    }

/**************** Multiple Select ****************/

/* Cannot be called 'placeholder' because a global css class 'placeholder already exists */
.placeholder-color {
    color: var(--k-color-grey);
}

/* Selected Options */
.selected-options {
    display: flex;
    flex-flow: row wrap;
    gap: var(--k-gap-smaller);
    /* Prevents the child's growing state (adding elements) to make the parent bigger (because we're in flex) */
    width: 0;
    min-width: 100%;
}

    .selected-options li {
        display: grid;
        grid-template-columns: auto 1fr;
        place-items: center;
        gap: var(--k-gap-small);
        border-radius: 1rem;
        font-weight: 700;
        padding-inline: var(--k-gap-smaller);
        background-color: var(--k-color-primary-light);
        flex-shrink: 1;
    }

        .selected-options li:hover {
            transform: scale(1.01);
            background-color: var(--k-color-grey-light);
        }

/* Options */
.options li:has(input:checked) {
    background-color: var(--k-color-primary-light);
}

.options li > input {
    accent-color: var(--k-color-primary);
    inline-size: 1.5rem;
    aspect-ratio: 1;
    pointer-events: none
}