/**************** Single Select ******************/
::deep select {
    cursor: pointer;
}

    ::deep select option {
        color: var(--k-color-primary);
    }

    /* Selected option color 
    /*  Grey for "placeholder" / Primary if real selected value */
    ::deep select:optional {
        color: var(--selected-option-color);
    }

/**************** Multiple Select ****************/

/* Cannot be called 'placeholder' because a global css class 'placeholder already exists */
.placeholder-color {
    color: var(--k-color-grey);
}

/* Options */
.options li:has(input:checked) {
    background-color: var(--k-color-primary-light);
}

.options li > input {
    accent-color: var(--k-color-primary);
    inline-size: 1.5rem;
    aspect-ratio: 1;
    pointer-events: none
}