/* Search input */
input,
input:focus-visible,
input.invalid,
input:hover {
    width: 0;
    flex-grow: 1;
    border: none !important;
    box-shadow: none !important;
    outline: none;
    background-color: transparent;
    padding: 0;
}

/* Selected option */
.selected-option {
    gap: 0.5rem;
    width: 0;
    min-width: calc(100% - 1.5rem);
    display: grid;
    grid-template-columns: 1fr 20px;
    align-items: center;
}

.selected-option-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}