/* Search Input */
input,
input:focus-visible,
input.invalid,
input:hover {
    width: 0;
    flex-grow: 1;
    border: none !important;
    box-shadow: none !important;
    outline: none;
    background-color: transparent;
    padding: 0;
}

/* Field Actions */
.field-actions {
    display: flex;
    align-items: center;
    gap: var(--k-gap-smaller);
}