.datas {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .datas ::deep li {
        list-style: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-block: 0.25em;
    }