<ul class="datas">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @foreach (KeyValuePair<string, string> data in Datas)
        {
            <li><b>@data.Key.</b> @data.Value</li>
        }
    }
</ul>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Dictionary<string, string> Datas { get; set; } = new();
}