@using K.Blazor.Components.Contents.Model
@using K.Blazor.Components.Contents.Style

<ListStyle>
    <ul class="datas">
        @foreach (WordTranslation data in Datas)
        {
            <li><b>@data.English.</b><span hidden="@(!Show)">@($" {data.Pinyin}")</span></li>
        }
    </ul>
</ListStyle>

@code {
    [Parameter]
    public IEnumerable<WordTranslation> Datas { get; set; } = new List<WordTranslation>();

    [Parameter]
    public bool Show { get; set; } = true;
}