@using AutoMapper

@page "/users/edit/{userId}"
@attribute [Authorize]
@inject IMapper mapper
@inject NavigationManager Nav

<h1>@t["user.feature.edit"]</h1>

<Container FlexJustify="center">
    <Card>
        <Form Model=form
              OnValidSubmit=OnValidSubmit>

            <h3>@t["user.profile"]</h3>

            <TextField @bind-Value=form.Username Label=@t["user.username"] />

            <SelectField @bind-Value=form.Role
                         Label=@t["common.role"]
                         Options=@(Enum.GetValues<UserRole>())
                         Placeholder=@(t["common.role"] + "...") />

            <Button>@t["action.submit"]</Button>
        </Form>
    </Card>
</Container>

@code {
    [Parameter]
    public string? UserId { get; set; }

    private UserUpdateFormDto form = new();
    private UserAppDto user = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Retrieve user info
            user = await userService.GetAsync(int.Parse(UserId!));
            form = mapper.Map<UserUpdateFormDto>(user);        
        }
        catch (ProblemDetailsException)
        {
            // If user not found, redirect to creation
            Nav.NavigateTo("users/create");
        }
    }

    private async void OnValidSubmit()
    {
        try
        {
            user = await userService.UpdateAsync(form);

            if (user != null)
            {
                toaster.AddSuccess(t["event.edited"]);
                Nav.NavigateTo("users");
            }
        }
        catch (ProblemDetailsException) { }
    }
}