@page "/users/create"
@attribute [Authorize]
@inject NavigationManager Nav

<h1>@t["user.feature.create"]</h1>

<Container FlexColumn FlexAlign="center">
    <Form Model=form
          OnValidSubmit=ValidSubmit>
        <Container FlexColumn FlexAlign="center" Mobile>
            <Card Title=@t["user.profile"]>
                <Container Mobile>
                    <TextField @bind-Value=form.Username Label=@t["user.username"] />

                    <SelectField @bind-Value=form.Role
                                 Label=@t["common.role"]
                                 Options=@(Enum.GetValues<UserRole>())
                                 Placeholder=@(t["common.role"] + "...") />
                </Container>
            </Card>

            <Card Title=@t["person.identity"]>
                <TextField @bind-Value=form.Email Label=@t["person.email"] />
                <Container Mobile>
                    <TextField @bind-Value=form.Password Label=@t["user.password"] />
                    <TextField @bind-Value=form.PasswordConfirm Label=@t["action.confirm"] DisablePaste/>
                </Container>
            </Card>

            <Button>@t["action.submit"]</Button>
        </Container>
    </Form>
</Container>

 @code {
    private UserCreateFormDto form = new();
    private UserAppDto? userCreated = null;

    private async Task ValidSubmit()
    {
        try
        {
            userCreated = await userService.CreateAsync(form);

            if (userCreated != null)
            {
                toaster.AddSuccess(t["event.created"]);
                Nav.NavigateTo("users");
            }
        }
        catch (ProblemDetailsException) { }
    }
}