@using Domain.Enums.User

<Card>
    <Form Model=form
          SubmitButton
          OnValidSubmit=OnValidSubmit
          OnInvalidSubmit=OnInvalidSubmit
          OnFieldChanged=OnFieldChanged>
        <Container Grid GridColumns="1fr 1fr" NoRowGap>
            <TextField @bind-Value=form.Text
                       @oninput=OnInput
                       Label=@Label("Text", form.Text)
                       Placeholder="Placeholder" />

            <DateField @bind-Value=form.Date
                       Label=@Label("Date", form.Date.ToShortDateString()) />

            @* RequiredTrue only adds a visual indicator, 
                FluentValidation rule must be defined to have the validation*@
            <CheckBoxField @bind-Value=form.CheckBox
                           Label=@Label("CheckBox", form.CheckBox.ToString())
                           RequiredTrue />

            @*SelectField
                - Options. is an IEnumerable of either :
                    > 'string' | An enum | Provided 'Option'' object | An Object
                    In 'Object' case, OptionGetters param must be used to specify where to get the Name&Value in the object*@
            <SelectField @bind-Value=form.Select
                         Label=@Label("Select", form.Select)
                         Placeholder="Select from..."
                         Options=strings />

            @*SelectField with Enum as BoundValueType & Options*@
            <SelectField @bind-Value=form.EnumSelect
                         Label=@Label("Enum Select", form.EnumSelect.ToString())
                         Placeholder="Select from..." 
                         Options="Enum.GetValues<UserRole>()" />

            @*SelectSearchField has limitation :
                - Validation. Only supports 'Required' validation through 'Required' param (Not FluentValidation)
                - ValueBinding. Only Supports 'FieldToModel' binding. ['ModelToField' binding can be emulated with StateHasChanged() only for "ModelValue == null"]
                - EventBinding. OnChange can be used. It is triggered onmousedown an option*@
            <SelectSearchField @bind-Value=form.SelectSearch
                               Required
                               Label=@Label("Select Search", form.SelectSearch)
                               Placeholder="Search from..."
                               Options=objects />

            @*SelectField Multiple has limitation :
                - BoundValueType. Bound value type should be a List<string> (Enum Array is not supported)
                - Validation. Only supports 'Required' validation through 'Required' param (Not FluentValidation)
                - ValueBinding. Only supports (FieldToModel) binding
                - EventBinding. Not Supported*@
            <SelectField @bind-Value=form.SelectMultiple
                         Multiple Required
                         Label="Select Multiple (x option.s)"
                         Placeholder="Select from..."
                         Options=objects 
                         OptionGetters=@((x => t[x.Name].Contains("##") ? x.Name : t[x.Name], x => x.Value)) /> @* Todo *@
            
            @*Nested FormModel & Disabled feature*@
            <TextField @bind-Value=form.NestedForm.Field
                       Label=@Label("Nested Form", form.NestedForm.Field)
                       Disabled />
        </Container>
    </Form>
</Card>

 @code {
    private FormModel form = new();

    private void OnValidSubmit()
    {
        string multipleToast = String.Join(", ", form.SelectMultiple.Select(x => x).ToList());
        var toast = Toast.NewToast($"Successfully submitted\nMultiple: {String.Join(", ", multipleToast)}", Color.Success);
        toaster.AddToast(toast);
    }

    private void OnInvalidSubmit() => toaster.AddError("Invalid form");

    private void OnFieldChanged(object? sender, FieldChangedEventArgs? e)
        => toaster.AddToast(Toast.NewToast("Field Changed", Color.Info));

    private void OnInput() => Console.WriteLine("@oninput.Test");

    private string Label(string? Name, string? Value) => $"{Name} ({Value})";

    private List<string> strings = new() { "patate", "bonjour", "jean" };
    private List<Option> objects = new()
    {
        new(){ Name = "Bonjour", Value = "bonjour" },
        new(){ Name = "Au revoir", Value = "au_revoir" },
        new(){ Name = "Enchanté", Value = "enchante" },
        new(){ Name = "Bien à vous", Value = "bien_a_vous" }
    };

    public class FormModel
    {
        public string? Text { get; set; } = "Default";
        public DateTime Date { get; set; } = DateTime.Today;
        public bool CheckBox { get; set; }
        public string? Select { get; set; }
        public UserRole? EnumSelect { get; set; }

        public string? SelectSearch { get; set; }
        public List<string> SelectMultiple { get; set; } = new();

        public NestedFormModel NestedForm { get; set; } = new();
    }

    public class NestedFormModel
    {
        public string? Field = "Value";
    }

    public class FormModelValidator : AbstractValidator<FormModel>
    {
        public FormModelValidator()
        {
            RuleFor(x => x.Text).NotEmpty().MaximumLength(10).WithMessage(x => $"{x.Text} is too long.");
            RuleFor(x => x.Date).NotEmpty();
            RuleFor(x => x.CheckBox).Equal(true);            
            RuleFor(x => x.Select).NotEmpty();
            RuleFor(x => x.EnumSelect).NotEmpty();
            RuleFor(x => x.NestedForm.Field).NotEmpty();
        }
    }
}