<Card Title="Error Handling" Level=2>

    <div>If counter hit 3, You'll get an error</div>
    <p><b>Current count.</b> @count</p>
    <Button @onclick=IncrementCount>+ 1</Button>    
</Card>

@code {
    [CascadingParameter]
    public Error? ErrorComponent { get; set; }

    private int count = 0;

    private void IncrementCount()
    {
        count++;

        if (count < 3)
            Log.Information("Incremented count to {CurrentCount}", count);
        else
        {
            try
            {
                throw new NotSupportedException("Too many clicks!");
            }
            catch (Exception ex)
            {
                ErrorComponent!.ProcessError(ex);
            }
        }
    }
}