<Card Title="Tooltip" TitleLevel=2>
    <Container FlexAlign="center">
        <Tooltip Text="Hover Text">Text</Tooltip>
        <Tooltip Text="Hover Button"><Button>Button</Button></Tooltip>
    </Container>
</Card>