<ul class="datas">
    @foreach (KeyValuePair<string, string> data in Datas)
    {
        <li title=@data.Value><b>@data.Key.</b> @data.Value</li>
    }
</ul>

@code {
    [Parameter]
    public Dictionary<string, string> Datas { get; set; } = new();
}