<TranslationCard Title="Time">
    <Container FlexColumn>
        <Container>
            <Card Title="Days & Months" Level=2>
                <div>Days. (xīng qī | zhōu) + @("(<number>, Except Sunday -> rì/tiān)")</div>
                <div>Ex. xīng qī yī, xīng qī èr, xīng qī rì</div>
                <div>Months. @("<number>") + yuè</div>
                <div>Ex. yī yuè, èr yuè</div>
            </Card>
        </Container>
    </Container>
</TranslationCard>