<Card Title="Time">
    <Container FlexColumn>
        <Card Title="Days & Months" Level=2>
            <div>Days. (xīng qī | zhōu) + @("(<number>, Except Sunday -> rì/tiān)")</div>
            <div>Ex. xīng qī yī, xīng qī èr, xīng qī rì</div>
            <div>Months. @("<number>") + yuè</div>
            <div>Ex. yī yuè, èr yuè</div>
        </Card>
        <Container>
            <Card Title="Around Day" Level=2><WordTranslationList Datas=Days /></Card>
            <Card Title="DayTime" Level=2><WordTranslationList Datas=Daytime /></Card>
        </Container>
    </Container>
</Card>

@code {
    private List<WordTranslation> Days = new()
    {
        new() { English = "Day before yesterday", Pinyin = "qiántiān", FrenchPhonetics = "tchienne-tienne"},
        new() { English = "Yesterday", Pinyin = "zuótiān", FrenchPhonetics = "dzouo-tienne"},
        new() { English = "Today", Pinyin = "jīntiān", FrenchPhonetics = "djinne-tienne"},
        new() { English = "Tommorow", Pinyin = "míngtiān", FrenchPhonetics = "ming-tienne"},
        new() { English = "Day after tommorow", Pinyin = "hòutiān", FrenchPhonetics = "ho-tienne"}
    };

    private List<WordTranslation> Daytime = new()
    {
        new() { English = "Now", Pinyin = "xiànzài", FrenchPhonetics = "schienne-dzaille"},
        new() { English = "Morning", Pinyin = "zăoshang", FrenchPhonetics = "dzao-chang"},
        new() { English = "Afternoon", Pinyin = "xiàwŭ", FrenchPhonetics = "sia-wou"},
        new() { English = "Evening", Pinyin = "wănshang", FrenchPhonetics = "wanne-chang"},
        new() { English = "Night", Pinyin = "yèwǎn", FrenchPhonetics = "yé-wanne"}
    };
}