<TranslationCard Title="Time">
    <Container FlexColumn>
        <Container>
            <Card Title="Period" Level=2><WordTranslationList Datas=Period /></Card>
            <Card Title="Days & Months" Level=2>
                <div>Days. (xīng qī | zhōu) + @("(<number>, Except Sunday -> rì/tiān)")</div>
                <div>Ex. xīng qī yī, xīng qī èr, xīng qī rì</div>
                <div>Months. @("<number>") + yuè</div>
                <div>Ex. yī yuè, èr yuè</div>
            </Card>
        </Container>
        <Container>
            <Card Title="Around Day" Level=2><WordTranslationList Datas=Days /></Card>
            <Card Title="DayTime" Level=2><WordTranslationList Datas=Daytime /></Card>
            <Card Title="Seasons" Level=2><WordTranslationList Datas=Seasons /></Card>
        </Container>
    </Container>
</TranslationCard>

@code {
    private List<WordTranslation> Period = new()
    {
        new() { English = "Phase | Step", Pinyin = "jiēduàn" },
        new() { English = "Period", Pinyin = "shíduàn | shíjiān" },
        new() { English = "Moment", Pinyin = "shíhou" },
        new() { English = "Hour", Pinyin = "diǎn" },
        new() { English = "Day", Pinyin = "tiān" },
        new() { English = "Month", Pinyin = "yuè" },
        new() { English = "Year", Pinyin = "nián" },
        new() { English = "Century", Pinyin = "shìjì" },
        new() { English = "Season", Pinyin = "jìjié" },
    };

    private List<WordTranslation> Days = new()
    {
        new() { English = "Day before yesterday", Pinyin = "qiántiān" },
        new() { English = "Yesterday", Pinyin = "zuótiān" },
        new() { English = "Today", Pinyin = "jīntiān" },
        new() { English = "Tommorow", Pinyin = "míngtiān" },
        new() { English = "Day after tommorow", Pinyin = "hòutiān" }
    };

    private List<WordTranslation> Daytime = new()
    {
        new() { English = "Now", Pinyin = "xiànzài" },
        new() { English = "Morning", Pinyin = "zăoshang" },
        new() { English = "Afternoon", Pinyin = "xiàwŭ" },
        new() { English = "Evening", Pinyin = "wănshang" },
        new() { English = "Night", Pinyin = "yèwǎn" },
    };

    private List<WordTranslation> Seasons = new()
    {
        new() { English = "Spring", Pinyin = "chūntiān" },
        new() { English = "Summer", Pinyin = "xiàtiān" },
        new() { English = "Autumn", Pinyin = "qiūtiān" },
        new() { English = "Winter", Pinyin = "dōngtiān" },
    };
}