<Card Title="Verbs">
    <CardTitle>
        <Button @onclick="_ => show = !show">@(show ? "Hide" : "Show")</Button>
    </CardTitle>
    <CardBody>
        <Container Grid GridAlign="stretch">
            <Card Title="Basic" Level=2><WordTranslationList Datas=Basic Show=show /></Card>
            <Card Title="Knowledge" Level=2><WordTranslationList Datas=Knowledge Show=show /></Card>
            <Card Title="Movement" Level=2><WordTranslationList Datas=Movement Show=show /></Card>
            <Card Title="Needs" Level=2><WordTranslationList Datas=Needs Show=show /></Card>
            <Card Title="Senses" Level=2><WordTranslationList Datas=Senses Show=show /></Card>
        </Container>
    </CardBody>
</Card>

 @code {
    private bool show = true;

    private List<WordTranslation> Basic = new()
    {
        new() { English = "Be", Pinyin = "shì" },
        new() { English = "Can", Pinyin = "néng | kĕyĭ | huì" },
        new() { English = "Do", Pinyin = "zuò | gàn" },
        new() { English = "Give", Pinyin = "gěi" },
        new() { English = "Have", Pinyin = "yŏu" },
        new() { English = "Help", Pinyin = "bāng" },
        new() { English = "Kiss", Pinyin = "qīn | wĕn" },
        new() { English = "Love", Pinyin = "ài" },
        new() { English = "Like", Pinyin = "xĭhuan" },
        new() { English = "Need", Pinyin = "xū" },
        new() { English = "Use", Pinyin = "yǐ | yòng" },
        new() { English = "Want (general)", Pinyin = "xiăng" },
        new() { English = "Want (avoir envie de)", Pinyin = "yào" },
        new() { English = "Work", Pinyin = "gōngzuò" },
    };

    private List<WordTranslation> Movement = new()
    {
        new() { English = "Come", Pinyin = "lái | guòlái" },
        new() { English = "Close", Pinyin = "guān" },
        new() { English = "Go", Pinyin = "qù" },
        new() { English = "Leave", Pinyin = "chūfā" },
        new() { English = "Open", Pinyin = "kāimén | dăkāi" },
        new() { English = "Put", Pinyin = "fàng" },        
        new() { English = "Run", Pinyin = "păobù" },
        new() { English = "Swim", Pinyin = "yóuyŏng" },
        new() { English = "Stay", Pinyin = "liú" },
    };

    private List<WordTranslation> Needs = new()
    {
        new() { English = "Breath", Pinyin = "hūxī" },
        new() { English = "Drink", Pinyin = "hē" },
        new() { English = "Eat", Pinyin = "chī" },
        new() { English = "Get Up | Wake Up", Pinyin = "qǐchuáng" },
        new() { English = "Go to sleep", Pinyin = "shuìjiào", FrenchPhonetics = "chuéi-tjiao"},
        new() { English = "Sleep", Pinyin = "shuì", FrenchPhonetics = "chuéi"},
    };

    private List<WordTranslation> Senses = new()
    {
        new() { English = "Feel (se sentir)", Pinyin = "gǎnjué" },
        new() { English = "Hear", Pinyin = "tīngjiàn" },
        new() { English = "Listen", Pinyin = "tīng" },
        new() { English = "Look", Pinyin = "kàn" },
        new() { English = "See (Each other)", Pinyin = "jiàn" },
        new() { English = "Smell", Pinyin = "cháng" },
    };

    private List<WordTranslation> Knowledge = new()
    {
        new() { English = "Call", Pinyin = "" },
        new() { English = "Know", Pinyin = "zhīdao" },
        new() { English = "Learn", Pinyin = "xuéxí" },
        new() { English = "Read", Pinyin = "yuè" },
        new() { English = "Say", Pinyin = "shuō" },
        new() { English = "Teach", Pinyin = "jiāo" },
        new() { English = "Talk | Speak", Pinyin = "shuōhuà" },
        new() { English = "Understand", Pinyin = "dŏng" },
        new() { English = "Write", Pinyin = "xiĕ" },
    };
}