/* Page */
.page {
    display: grid;
    grid-template: 'navbar content' 100svh / 250px auto;
}

/* Page.Mobile */
@media (max-width: 576px) {
    .page {
        grid-template:
            'navbar' 56px
            'content' auto / 100%;
    }
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .content > div {
        padding: var(--k-gap-small);
        flex: 1;
        display: flex;
        flex-direction: column;
    }

/* Content.Mobile */
@media (min-width: 576px) {
    .content {
        overflow-y: scroll;
    }

    .content > div {
        padding: var(--k-gap-large);
    }
}