::deep .fill {
    height: 100%;
    width: 100%;
}

/* Parent */
.flex,
.grid {
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
}

.flex {
    display: flex;
    flex-wrap: var(--flex-wrap);
    flex-direction: var(--flex-direction);
    align-items: var(--flex-align);
    justify-content: var(--flex-justify);
}

.grid {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    align-items: var(--grid-align);
}

/* Children */
::deep .flex > div {
    width: var(--flex-child-width);
}


/* Mobile */
@media (max-width: 576px) {

    /* Parent */
    .mobile {
        display: flex !important;
        flex-direction: column !important;
        align-items: stretch !important;
        justify-content: center !important;
        flex-wrap: nowrap !important;
        gap: var(--k-gap-small) !important;
    }

    /* Children */
    ::deep .mobile > div {
        width: var(--mobile-child-width) !important;
    }
}